.food-festival-child {
    position: absolute;
    top: 556px;
    left: 0;
    background-color: var(--color-black);
    width: 1920px;
    height: 2149px;
  }
  .food-festival-item {
    position: absolute;
    top: 1169px;
    left: 0;
    background: linear-gradient(180deg, #150f0c, #8f6104);
    backdrop-filter: blur(50px);
    width: 1920px;
    height: 1888px;
  }
  .wallpaperflare-1-icon {
    position: absolute;
    top: -1px;
    left: 0;
    width: 1920px;
    height: 1080px;
    object-fit: cover;
  }
  .group-child {
    position: absolute;
    top: 58px;
    left: 128.62px;
    width: 1920px;
    height: 357px;
  }
  .the-festival-starts {
    position: absolute;
    top: 197px;
    left: calc(50% - 420px);
    line-height: 30px;
    display: inline-block;
    width: 840px;
    height: 31px;
  }
  .text {
    position: absolute;
    top: 0;
    left: calc(50% - 428px);
    font-size: 128px;
    line-height: 74.12%;
    font-family: var(--font-abril-fatface);
    color: #e0c097;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 855.8px;
    height: 217px;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
    -webkit-text-stroke: 2px #fef1e9;
  }
  .food-festival-inner,
  .polygon-parent {
    position: absolute;
    top: 617px;
    left: 0;
    width: 1920px;
    height: 415px;
  }
  .food-festival-inner {
    top: 942px;
    background-color: #150f0c;
    height: 227px;
  }
  .group-child1,
  .group-inner,
  .group-item {
    position: absolute;
    top: 0;
    left: 156.83px;
    border-radius: var(--br-3xl);
    width: 159px;
    height: 141px;
  }
  .group-child1,
  .group-inner {
    left: 337.83px;
  }
  .group-child1 {
    left: 517.83px;
  }
  .days,
  .div {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 900;
    display: inline-block;
    width: 112.67px;
    height: 58.81px;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
  }
  .days {
    top: 60.93px;
    font-size: var(--body-1-normal-size);
    font-weight: 300;
    color: var(--color-skyblue);
    height: 14.88px;
  }
  .container,
  .group,
  .group-div,
  .parent,
  .rectangle-parent {
    position: absolute;
    top: 32.59px;
    left: 0;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
    width: 112.67px;
    height: 75.81px;
  }
  .container,
  .group,
  .group-div,
  .rectangle-parent {
    left: 179.79px;
  }
  .container,
  .group-div,
  .rectangle-parent {
    left: 361.19px;
  }
  .group-div,
  .rectangle-parent {
    left: 540.98px;
  }
  .rectangle-parent {
    top: 851px;
    left: 622px;
    width: 676.83px;
    height: 141px;
    font-size: var(--font-size-21xl);
    font-family: var(--font-poppins);
  }
  .content-child {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #c06f04, #620404);
    width: 1379px;
    height: 1400px;
  }
  .select-sorting,
  .sort1 {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 52.36px;
    height: 52.01px;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
  }
  .select-sorting {
    top: 72.01px;
    left: 25.01px;
    font-size: var(--body-1-normal-size);
    color: var(--color-gray-200);
    width: 88.32px;
    height: 26.67px;
  }
  .sort,
  .sort-child {
    position: absolute;
    top: 73.35px;
    left: 174.41px;
    width: 29.46px;
    height: 26px;
  }
  .sort {
    top: 33.34px;
    left: 7.97px;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
    width: 189.14px;
    height: 98.68px;
  }
  .select-type-of,
  .type-of-food {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 160.22px;
    height: 52.01px;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
  }
  .select-type-of {
    width: 116.45px;
    height: 26.67px;
  }
  .select-type-of-food-child {
    position: absolute;
    top: 1.33px;
    left: 149.4px;
    width: 29.46px;
    height: 26px;
  }
  .select-type-of-food,
  .sort2 {
    position: absolute;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  }
  .select-type-of-food {
    top: 72.01px;
    left: 25.01px;
    width: 164.13px;
    height: 26.67px;
    font-size: var(--body-1-normal-size);
    color: var(--color-gray-200);
  }
  .sort2 {
    top: 488.08px;
    left: 9.53px;
    width: 189.13px;
    height: 98.68px;
  }
  .sort-time,
  .time {
    width: 63.31px;
    height: 52.01px;
  }
  .time {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
  }
  .sort-time {
    top: 606.77px;
    left: 7.97px;
  }
  .child,
  .div5,
  .sort-time {
    position: absolute;
  }
  .child {
    top: 26.67px;
    left: 7.82px;
    border-radius: var(--br-11xs);
    background-color: var(--color-gainsboro-100);
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.01);
    width: 11.72px;
    height: 20px;
  }
  .div5 {
    top: 8px;
    left: 46.11px;
    display: inline-block;
    width: 121.14px;
    height: 52.01px;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
  }
  .div4,
  .item {
    position: absolute;
    left: 0;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
    width: 214.93px;
    height: 68.01px;
  }
  .item {
    top: 0;
    border-radius: var(--br-3xs);
    border: 1px solid var(--white);
    box-sizing: border-box;
  }
  .div4 {
    top: 52.01px;
  }
  .checkbox,
  .checkbox-child {
    position: absolute;
    width: 11.72px;
    height: 20px;
  }
  .checkbox-child {
    top: 0;
    left: 0;
    border-radius: var(--br-11xs);
    background-color: var(--color-gainsboro-100);
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.01);
  }
  .checkbox {
    top: 26.67px;
    left: 7.82px;
  }
  .div7 {
    top: 8px;
    left: 46.11px;
    display: inline-block;
    width: 124.27px;
    height: 52.01px;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
  }
  .div6,
  .div7,
  .div9 {
    position: absolute;
  }
  .div6 {
    top: 124.02px;
    left: 0;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
    width: 214.93px;
    height: 68.01px;
  }
  .div9 {
    top: 8px;
    left: 46.11px;
    display: inline-block;
    width: 122.7px;
    height: 52.01px;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
  }
  .div10,
  .div8 {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
    width: 214.93px;
    height: 68.01px;
  }
  .div8 {
    position: absolute;
    top: 196.03px;
    left: 0;
  }
  .div10 {
    top: 268.05px;
    color: var(--color-gray-200);
  }
  .date,
  .div10,
  .sort-date-child {
    position: absolute;
    left: 0;
  }
  .date {
    top: 0;
    display: inline-block;
    width: 60.96px;
    height: 52.01px;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
  }
  .sort-date-child {
    top: 266.4px;
    width: 215.24px;
    height: 68.33px;
  }
  .sort-date,
  .sort-date-item {
    position: absolute;
    top: 268.05px;
    left: 0;
    width: 215.25px;
    height: 70.99px;
  }
  .sort-date {
    top: 153.36px;
    left: 7.97px;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
    width: 214.93px;
    height: 336.06px;
  }
  .for-how-many,
  .for-how-many-people-wrapper {
    position: absolute;
    width: 171.16px;
    height: 32.01px;
  }
  .for-how-many {
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
  }
  .for-how-many-people-wrapper {
    top: 1170.87px;
    left: 9.53px;
    text-align: center;
    font-size: var(--font-size-xl);
  }
  .sort4 {
    position: relative;
    line-height: 100%;
    display: flex;
    align-items: center;
    width: 337px;
    height: 53px;
    flex-shrink: 0;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
    -webkit-text-stroke: 1px #000;
  }
  .listboxbg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-3xs);
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
    border: 1px solid var(--color-chocolate);
    box-sizing: border-box;
  }
  .chevron-icon {
    position: absolute;
    height: 25.17%;
    width: 9.79%;
    top: 36.58%;
    right: 2.96%;
    bottom: 38.25%;
    left: 87.25%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    opacity: 0.8;
  }
  .select-time {
    position: absolute;
    top: 0;
    left: 0;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
  }
  .placeholder-text {
    position: absolute;
    height: 33.33%;
    width: 65.71%;
    top: 33.33%;
    right: 28.57%;
    bottom: 33.33%;
    left: 5.71%;
  }
  .listbox-main,
  .sort3,
  .sort5 {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  }
  .listbox-main {
    position: relative;
    width: 280px;
    height: 40px;
    flex-shrink: 0;
    font-size: var(--body-1-normal-size);
    font-family: var(--font-montserrat);
  }
  .sort3,
  .sort5 {
    position: absolute;
    top: 18px;
    left: 10.85px;
    width: 288px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .sort5 {
    top: 127px;
  }
  .icon,
  .title {
    position: relative;
    flex-shrink: 0;
  }
  .title {
    font-size: var(--font-size-21xl);
    line-height: 100%;
    font-family: var(--font-rasa);
    display: flex;
    align-items: center;
    width: 337px;
    height: 53px;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
    -webkit-text-stroke: 1px #000;
  }
  .icon {
    width: 2px;
    height: 2px;
    opacity: 0;
  }
  .controller,
  .thumb {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.01);
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .thumb {
    border-radius: var(--br-7xs);
    background-color: var(--white);
    border: 1px solid var(--color-chocolate);
    box-sizing: border-box;
    width: 22px;
    height: 22px;
  }
  .controller {
    width: 24px;
    height: 24px;
  }
  .label {
    flex: 1;
    position: relative;
    line-height: 150%;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
  }
  .date1,
  .radio-wrapper,
  .thu-27072023 {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
    display: flex;
  }
  .radio-wrapper {
    align-self: stretch;
    border-radius: var(--br-5xs);
    flex-direction: row;
    padding: var(--padding-5xs);
    align-items: center;
    justify-content: center;
    gap: var(--gap-5xs);
  }
  .date1,
  .thu-27072023 {
    flex-direction: column;
  }
  .thu-27072023 {
    border-radius: var(--br-3xs);
    border: 1px solid var(--color-chocolate);
    box-sizing: border-box;
    width: 200px;
    align-items: center;
    justify-content: center;
  }
  .date1 {
    position: absolute;
    top: 236px;
    left: 13.85px;
    width: 282px;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 11px;
    font-size: var(--body-1-normal-size);
    font-family: var(--body-1-normal);
  }
  .person-child {
    border-radius: var(--br-5xs);
    background-color: var(--color-gray-100);
    border: 1px solid var(--color-saddlebrown-100);
    box-sizing: border-box;
  }
  .person,
  .person-child {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
    width: 91.51px;
    height: 42px;
  }
  .number-of-poeple,
  .number-of-poeple1,
  .number-of-poeple2 {
    position: absolute;
    top: 55px;
    left: 96.25px;
    width: 91.51px;
    height: 42px;
  }
  .number-of-poeple1,
  .number-of-poeple2 {
    left: 2px;
  }
  .number-of-poeple2 {
    left: 188.49px;
  }
  .number-of-poeple3 {
    top: 98px;
    left: 51px;
    height: 42px;
  }
  .more,
  .number-of-poeple3,
  .number-of-poeple4 {
    position: absolute;
    width: 91.51px;
  }
  .more {
    top: 11px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
  }
  .number-of-poeple4 {
    top: 98px;
    left: 143px;
    height: 42px;
  }
  .number-of-people {
    position: absolute;
    top: 0;
    left: 0;
    font-size: var(--font-size-21xl);
    line-height: 30px;
    font-family: var(--font-rasa);
    text-align: left;
    display: flex;
    align-items: center;
    width: 296px;
    height: 55px;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
  }
  .number-of-poeple-parent {
    position: absolute;
    top: 1067px;
    left: 13.85px;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
    width: 296px;
    height: 140px;
    text-align: center;
    font-size: var(--font-size-mini);
    font-family: var(--font-open-sans);
  }
  .from,
  .time1,
  .time2 {
    position: absolute;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
  }
  .time1 {
    top: 772px;
    left: 14px;
    width: 297px;
    height: 53px;
    -webkit-text-stroke: 1px #000;
  }
  .from,
  .time2 {
    left: 0;
  }
  .time2 {
    top: 0;
    font-size: var(--font-size-21xl);
    width: 297px;
    height: 53px;
    -webkit-text-stroke: 1px #000;
  }
  .from {
    top: 5px;
    width: 72px;
    height: 28px;
  }
  .group-child2,
  .group-child3 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-3xs);
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
    border: 1px solid var(--color-chocolate);
    box-sizing: border-box;
    width: 102px;
    height: 40px;
  }
  .group-child3 {
    left: 117px;
  }
  .div12,
  .div13,
  .div14 {
    position: absolute;
    top: 0;
    line-height: 100%;
    display: flex;
    align-items: center;
    height: 40px;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
  }
  .div12 {
    left: 102px;
    font-size: var(--font-size-45xl);
    font-family: var(--font-rasa);
    color: var(--white);
    text-align: left;
    width: 15px;
  }
  .div13,
  .div14 {
    left: 0;
    justify-content: center;
    width: 102px;
  }
  .div14 {
    top: 1px;
    left: 117px;
    height: 39px;
  }
  .rectangle-group,
  .start-time {
    position: absolute;
    left: 0;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  }
  .rectangle-group {
    top: 32px;
    width: 219px;
    height: 40px;
    text-align: center;
    font-size: var(--body-1-normal-size);
    color: var(--color-gray-300);
    font-family: var(--font-open-sans);
  }
  .start-time {
    top: 53px;
    width: 282px;
    height: 105px;
  }
  .div15 {
    position: absolute;
    top: 0;
    left: 117px;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 102px;
    height: 40px;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
  }
  .start-time1,
  .timerange {
    position: absolute;
    top: 138px;
    left: 0;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
    width: 282px;
    height: 105px;
  }
  .timerange {
    top: 513px;
    left: 14px;
    height: 263px;
    font-size: var(--font-size-xl);
  }
  .div18,
  .group-child6 {
    position: absolute;
    top: 0;
    left: 0;
    width: 219px;
    height: 40px;
  }
  .group-child6 {
    border-radius: var(--br-3xs);
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
    border: 1px solid var(--color-chocolate);
    box-sizing: border-box;
  }
  .div18 {
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
  }
  .start-time2 {
    position: absolute;
    top: 825px;
    left: 14px;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
    width: 282px;
    height: 105px;
    font-size: var(--font-size-xl);
  }
  .div19 {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 217px;
    height: 40px;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
  }
  .start-time3 {
    position: absolute;
    top: 910px;
    left: 14px;
    width: 282px;
    height: 105px;
    font-size: var(--font-size-xl);
  }
  .clear-filter-child,
  .settings,
  .start-time3 {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  }
  .settings {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-3xs);
    background-color: var(--color-gray-100);
    width: 310.27px;
    height: 1381px;
    font-size: var(--font-size-21xl);
    font-family: var(--font-rasa);
  }
  .clear-filter-child {
    border-radius: var(--br-5xs);
    background-color: var(--color-goldenrod);
  }
  .apply-filter,
  .apply-filter-child,
  .clear-filter,
  .clear-filter-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 283.91px;
    height: 41px;
  }
  .apply-filter {
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
  }
  .apply-filter-child,
  .clear-filter {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  }
  .apply-filter-child {
    border-radius: var(--br-5xs);
    background-color: rgba(171, 171, 171, 0.5);
  }
  .apply-filter1 {
    top: 46px;
    left: 1px;
    width: 283.91px;
    height: 41px;
  }
  .apply-filter1,
  .buttons,
  .sort-bar {
    position: absolute;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  }
  .buttons {
    top: 1285px;
    left: 13px;
    width: 284.91px;
    height: 87px;
    text-align: center;
    font-size: var(--font-size-5xl);
    font-family: var(--font-rasa);
  }
  .sort-bar {
    top: 9px;
    left: 10px;
    width: 310.27px;
    height: 1381px;
  }
  .ratatouille-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 1004px;
    height: 265px;
  }
  .location,
  .ratatouille1,
  .spaarne-96-2011 {
    position: absolute;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
  }
  .ratatouille1 {
    top: 12px;
    left: 31px;
    font-size: var(--font-size-29xl);
    font-family: var(--font-open-sans);
    width: 403px;
    height: 45px;
  }
  .location,
  .spaarne-96-2011 {
    top: 2px;
    left: 6px;
    width: 115px;
  }
  .spaarne-96-2011 {
    top: 33px;
    left: 4px;
    font-size: var(--font-size-xl);
    width: 187px;
  }
  .group-child8 {
    position: absolute;
    top: 0;
    left: 0;
    width: 192px;
    height: 125px;
  }
  .group-child10,
  .group-child9,
  .line-div {
    position: absolute;
    top: 5.89px;
    left: 180px;
    border-right: 2px solid var(--color-saddlebrown-200);
    box-sizing: border-box;
    width: 2px;
    height: 78.11px;
  }
  .group-child10,
  .group-child9 {
    left: 382px;
  }
  .group-child10 {
    left: 568px;
  }
  .location-parent {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
    width: 569px;
    height: 125px;
  }
  .french-fish-and,
  .type-of-food2 {
    position: absolute;
    top: 2px;
    left: 6px;
    line-height: 30px;
    display: flex;
    align-items: center;
    width: 173px;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
  }
  .french-fish-and {
    top: 33px;
    left: 4px;
    font-size: var(--font-size-xl);
    width: 183px;
  }
  .type-of-food-parent {
    position: absolute;
    top: 0;
    left: 192px;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
    width: 192px;
    height: 125px;
  }
  .price,
  .rating {
    top: 2px;
    width: 186px;
  }
  .rating {
    position: absolute;
    left: 6px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
  }
  .price {
    left: 195px;
  }
  .div20,
  .out-of-5,
  .price {
    position: absolute;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
  }
  .div20 {
    top: 32px;
    left: 208px;
    font-size: var(--font-size-29xl);
    color: #fad443;
    width: 69px;
  }
  .out-of-5 {
    top: 33px;
    left: 0;
    font-size: var(--font-size-5xl);
    text-align: center;
    justify-content: center;
    width: 191px;
    height: 58px;
  }
  .group-parent,
  .rating-parent {
    position: absolute;
    top: 2px;
    left: 384px;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
    width: 381px;
    height: 125px;
  }
  .group-parent {
    top: 77px;
    left: 268px;
    width: 765px;
    height: 127px;
    font-size: var(--font-size-13xl);
  }
  .ratatouille-item {
    position: absolute;
    top: 86px;
    left: 65px;
    width: 88px;
    height: 88px;
    object-fit: cover;
  }
  .kids-2250 {
    position: absolute;
    top: 139px;
    left: 874px;
    line-height: 30px;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
  }
  .reserve-button-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-5xs);
    background-color: var(--color-goldenrod);
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
    width: 141px;
    height: 29px;
  }
  .reserve {
    top: 0;
    left: 0;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
  }
  .btn,
  .reserve,
  .reserve-button {
    position: absolute;
    width: 141px;
    height: 29px;
  }
  .reserve-button {
    top: 0;
    left: 0;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  }
  .btn {
    top: 219px;
    left: 846px;
    text-align: center;
    font-size: var(--font-size-5xl);
  }
  .background,
  .ratatouille-inner {
    position: absolute;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  }
  .ratatouille-inner {
    top: 2px;
    left: 1px;
    background-color: transparent;
    width: 1005px;
    height: 263px;
    cursor: pointer;
  }
  .background {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-3xs);
    background-color: var(--foundation-gray-normal);
  }
  .accessibility-icon,
  .cheap-child {
    position: absolute;
    height: 68.56%;
    width: 17.4%;
    top: 14%;
    right: 71.58%;
    bottom: 17.44%;
    left: 11.03%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .cheap-child {
    height: 111.76%;
    width: 111.76%;
    top: -5.88%;
    right: -5.88%;
    bottom: -5.88%;
    left: -5.88%;
  }
  .b,
  .cheap {
    position: absolute;
    left: 0;
  }
  .b {
    height: 100%;
    width: 91.18%;
    top: 0;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
  }
  .cheap {
    height: 97.14%;
    width: 100%;
    top: 2.86%;
    right: 0;
    bottom: 0;
    font-size: var(--font-size-13xl);
  }
  .ellipse-icon {
    position: absolute;
    height: 116.67%;
    width: 117.39%;
    top: -8.33%;
    right: -8.7%;
    bottom: -8.33%;
    left: -8.7%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .ellipse-group,
  .ellipse-parent {
    position: absolute;
    height: 85.71%;
    width: 85.19%;
    top: 0;
    right: 0;
    bottom: 14.29%;
    left: 14.81%;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.01);
  }
  .ellipse-group {
    top: 14.29%;
    right: 14.81%;
    bottom: 0;
    left: 0;
  }
  .ellipse-container,
  .ellipse-parent1,
  .ellipse-parent2,
  .mediumexpesnive {
    position: absolute;
    height: 80%;
    width: 79.41%;
    top: 8.57%;
    right: 11.76%;
    bottom: 11.43%;
    left: 8.82%;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.01);
  }
  .ellipse-container,
  .ellipse-parent1,
  .ellipse-parent2 {
    height: 77.42%;
    width: 76.67%;
    top: 0;
    right: 0;
    bottom: 22.58%;
    left: 23.33%;
  }
  .ellipse-parent1,
  .ellipse-parent2 {
    top: 9.68%;
    right: 10%;
    bottom: 12.9%;
    left: 13.33%;
  }
  .ellipse-parent2 {
    top: 22.58%;
    right: 23.33%;
    bottom: 0;
    left: 0;
  }
  .expensive {
    height: 88.57%;
    width: 88.24%;
    top: 0;
    right: 2.94%;
    bottom: 11.43%;
    left: 8.82%;
  }
  .age,
  .expensive,
  .price1 {
    position: absolute;
  }
  .price1 {
    height: 70%;
    width: 19.32%;
    top: 16%;
    right: 46.02%;
    bottom: 14%;
    left: 34.66%;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.01);
  }
  .age {
    height: 68%;
    width: 31.82%;
    top: 14%;
    left: 60.23%;
    font-size: var(--font-size-13xl);
    line-height: 18px;
    display: flex;
    color: var(--color-black);
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
  }
  .stuffaboutevent {
    position: absolute;
    top: 204px;
    left: 31px;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
    width: 176px;
    height: 50px;
    text-align: center;
    font-family: var(--font-open-sans);
  }
  .content-wrapper,
  .content1,
  .ratatouille {
    position: absolute;
    width: 1033px;
    height: 265px;
  }
  .ratatouille {
    top: 0;
    left: 0;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  }
  .content-wrapper,
  .content1 {
    top: -1px;
    left: 5px;
  }
  .content-wrapper {
    top: 9px;
    left: 326px;
    width: 1053px;
    height: 1372px;
    overflow-y: auto;
    font-size: var(--body-1-normal-size);
    font-family: var(--font-rasa);
  }
  .content {
    position: absolute;
    top: 1095px;
    left: 280px;
    width: 1379px;
    height: 1400px;
    text-align: left;
    font-size: var(--font-size-13xl);
    font-family: var(--font-montserrat);
  }
  .arrow-child {
    position: absolute;
    top: 1.91px;
    left: -0.09px;
    width: 44.18px;
    height: 25.09px;
  }
  .arrow,
  .arrow-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 28px;
  }
  .arrow {
    top: 994px;
    left: 938px;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.01);
    cursor: pointer;
  }
  .one-time-deals {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 30px;
  }
  .start-text {
    position: absolute;
    top: 1049px;
    left: 607px;
    width: 706px;
    height: 30px;
  }
  .food-festival {
    position: relative;
    background-color: #2d2424;
    width: 100%;
    height: 3057px;
    text-align: center;
    font-size: var(--font-size-5xl);
    color: var(--white);
    font-family: var(--font-open-sans);
  }
  .seats-available-ascending-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-3xs);
    border: 1px solid var(--color-goldenrod);
    box-sizing: border-box;
    width: 280px;
    height: 40px;
  }
  .seats-available-descending {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .seats-available-ascending,
  .seats-available-descending {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 40px;
  }
  .seats-available-ascending1,
  .seats-available-ascending3 {
    position: absolute;
    top: 40px;
    left: 0;
    width: 280px;
    height: 40px;
  }
  .seats-available-ascending3 {
    top: 80px;
  }
  .seats-available-ascending4,
  .seats-available-ascending5 {
    position: absolute;
    top: 120px;
    left: 0;
    width: 280px;
    height: 40px;
  }
  .seats-available-ascending5 {
    top: 160px;
  }
  .sort-by-overlay {
    position: relative;
    background-color: var(--color-gray-100);
    width: 280px;
    height: 200px;
    overflow: hidden;
    max-width: 90%;
    max-height: 90%;
    text-align: center;
    font-size: var(--font-size-xl);
    color: var(--white);
    font-family: var(--font-montserrat);
  }
  .duch-food-type-child,
  .dutch-food {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 40px;
  }
  .duch-food-type-child {
    border-radius: var(--br-3xs);
    border: 1px solid var(--color-goldenrod);
    box-sizing: border-box;
  }
  .dutch-food {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .duch-food-type {
    top: 0;
  }
  .duch-food-type,
  .european-food-type,
  .frensh-food-type {
    position: absolute;
    left: 0;
    width: 280px;
    height: 40px;
  }
  .frensh-food-type {
    top: 40px;
    cursor: pointer;
  }
  .european-food-type {
    top: 80px;
  }
  .fish-and-seafood-type {
    top: 120px;
  }
  .asian,
  .asian-type,
  .fish-and-seafood-type {
    position: absolute;
    left: 0;
    width: 280px;
    height: 40px;
  }
  .asian {
    top: 0;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .asian-type {
    top: 160px;
  }
  .type-overlay {
    position: relative;
    background-color: var(--color-gray-100);
    width: 280px;
    height: 200px;
    overflow: hidden;
    max-width: 90%;
    max-height: 90%;
    text-align: center;
    font-size: var(--font-size-xl);
    color: var(--white);
    font-family: var(--font-montserrat);
  }
  