<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="row mb-3">
                <div class="col-md-6 dateOfTour" style="width: 50%; float:left;">
                    <label for="date" class="form-label">Date</label>
                    <select class="form-select" id="date">
                        <option selected="">Choose Date</option>
                        <option value="Thu 27/07/2023">Thu 27/07/2023</option>
                    </select>
                </div>
                <div class="col-md-6 timeOfTour" style="width: 50%; float:right;">
                    <label for="time" class="form-label">Time</label>
                    <select class="form-select" id="time">
                        <option selected="">Choose Time</option>
                        <option value="10:00">10:00</option>
                        <option value="13:00">13:00</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6 languageOfTour" style="width: 50%; float:left;">
                    <label for="language" class="form-label">Language</label>
                    <select class="form-select" id="language">
                        <option selected="">Select language</option>
                        <option value="English">English</option>
                        <option value="Dutch">Dutch</option>
                    </select>
                </div>
                <div class="col-md-6 ticketOfTour" style="width: 50%; float:right;">
                    <label for="ticket" class="form-label">Ticket</label>
                    <select class="form-select" id="ticket">
                        <option selected="">Select ticket</option>
                        <option value="single">Single : € 17.50</option>
                        } ?&gt;
                        <option value="family">Family(4p): € 60.00</option>
                        } ?&gt;
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary applyPreferencesButton">Apply preferences</button>
        </div>
        <div class="col-md-6">
            <div class="scrollable-tickets" id="events-container">
            </div>
        </div>
    </div>
</div>